/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-top-15 {
    margin-top: 15px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-45 {
    margin-top: 45px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-75 {
    margin-top: 75px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-45 {
    margin-bottom: 45px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-75 {
    margin-bottom: 75px;
}
/* /common */


/* page */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 3s;
}

.ex-1-square:hover {
    background: red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition:3s;
}

.ex-2-square:active{
    width: 100%;

}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 3s;
}
.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 3s;
}
.ex-4-square:hover{
    opacity: 0;

}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 3s;
}
.ex-5-square:hover{
    transform: scale(2);
}
.ex-5-square:active{
    transform: scale(0.5);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
    transition: 3s;
}

.ex-6-img:hover, .ex-7-img:hover, .ex-8-img:hover, .ex-9-img:hover{
    filter: grayscale(0.6);
}

 .ex-7-img:active, .ex-8-img:active, .ex-9-img:active {
    filter: contrast(1);
 }
 .ex-8-img:hover {
    border-radius: 20px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 3s;
}
.ex-9-img:hover {
    border-radius: 20px;
    transform: scale(1.5);
}

.ex-10-icon {
    font-size: 60px;
    animation: giro-tondo 1s linear infinite;
}

@keyframes giro-tondo {
    0% {
        transform: rotate(1turn);
    }
}

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover{
    animation: gira-due 2s linear;
}
@keyframes gira-due{
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0);
    }
}


.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white{
     animation: bottone-rotante 2s linear;
}

@keyframes bottone-rotante{
    0% {
        left: 10%;
    }
    50% {
        left:60%;
    }
    100% {
        left: 10%;
    }

}

.ex-13-button:hover .ex-13-top-white {
    animation: bottone-gira 2s linear;
}

@keyframes bottone-gira {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: bottone-gira-sotto 2s linear;
}
@keyframes bottone-gira-sotto {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}


/* page */